#container{
	width:500px;
	margin:20px auto;
}
div.colmun{
	width:500px;
	border-bottom:1px solid #CCC;
}
div.colmun:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
}
div.colmun div.img{
	float:left;
	width:60px;
	border:1px solid #ccc;
	padding:5px;
	margin:5px;
	display:inline;
}
div.colmun div.img img{
	border:0;
}
div.colmun div.info{
	float:left;
	padding:5px;
	width:400px;
}
div.colmun div.info h2{
	margin:0;
	color:#009AFF;
	font-size:small;
}
div.colmun div.info ul{
	margin:0;
	padding:15px 0 0 15px;
}
div.colmun div.info li{
	margin:0;
	font-size:small;
}
p.loading{
	text-align:center;
	margin:10px;
}
ul.pager{
	text-align:center;
	padding:10px;
}
ul.pager li{
	display:inline;
}
ul.pager li a{
	border:1px solid #009AFF;;
	color:#009AFF;;
	font-weight:bold;
	margin:2px;
	padding:5px;
	text-decoration:none;
}
ul.pager li a.selected{
	background:#73C7FF;
}